{
   "extends": ["react-app", "airbnb-base"],
    "env": {
      "node": true,
      "es6": true,
      "browser": true
    },
   "rules": {
      "semi": ["off"],
      "no-restricted-imports": ["off"],
      "no-unused-expressions": 0,
      "no-console": "off",
      "indent": ["warn", 2],
      "no-unused-vars": ["warn"],
      "array-bracket-spacing": ["warn"],
      "array-callback-return": ["warn"],
      "arrow-body-style": ["warn"],
      "arrow-parens": ["off"],
      "arrow-spacing": ["warn"],
      "block-spacing": ["warn"],
      "brace-style": ["warn"],
      "camelcase": ["off"],
      "class-methods-use-this": ["warn"],
      "comma-dangle": ["off"],
      "comma-spacing": ["warn"],
      "computed-property-spacing": ["warn"],
      "consistent-return": ["warn"],
      "curly": ["warn"],
      "eol-last": ["warn"],
      "func-call-spacing": ["warn"],
      "function-paren-newline": ["warn"],
      "implicit-arrow-linebreak": ["warn"],
      "import/extensions": ["warn"],
      "import/newline-after-import": ["warn"],
      "import/no-cycle": ["warn"],
      "import/no-duplicates": ["warn"],
      "import/no-useless-path-segments": ["warn"],
      "import/order": ["warn"],
      "import/prefer-default-export": ["warn"],
      "key-spacing": ["warn"],
      "keyword-spacing": ["warn"],
      "lines-between-class-members": ["warn"],
      "max-len": ["off"],
      "no-case-declarations": ["warn"],
      "no-confusing-arrow": ["warn"],
      "no-else-return": ["warn"],
      "no-mixed-operators": ["warn"],
      "no-multi-spaces": ["warn"],
      "no-multiple-empty-lines": ["warn"],
      "no-param-reassign": ["warn"],
      "no-plusplus": ["warn"],
      "no-shadow": ["warn"],
      "no-spaced-func": ["warn"],
      "no-tabs": ["warn"],
      "no-trailing-spaces": ["warn"],
      "no-underscore-dangle": ["off"],
      "no-unneeded-ternary": ["warn"],
      "no-use-before-define": ["off"],
      "no-useless-return": ["warn"],
      "nonblock-statement-body-position": ["warn"],
      "object-curly-newline": ["off"],
      "object-curly-spacing": ["warn"],
      "object-shorthand": ["warn"],
      "operator-linebreak": ["off"],
      "padded-blocks": ["warn"],
      "prefer-arrow-callback": ["warn"],
      "prefer-const": ["warn"],
      "prefer-destructuring": ["warn"],
      "prefer-template": ["warn"],
      "quotes": ["warn"],
      "semi-spacing": ["warn"],
      "space-before-blocks": ["warn"],
      "space-before-function-paren": ["warn"],
      "space-in-parens": ["warn"],
      "space-infix-ops": ["warn"],
      "spaced-comment": ["warn"]
   }
}
