.reading, .reading p {
  text-align: left;
  max-width: 700px;
  display: inline-block;
  color:rgb(41, 41, 41);
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.063px;
  line-height: 32px;
}

.reading-wrapper {
  text-align: center;
  margin: auto;
}

.sectionProgress {
  width: 200px;
}

.card-header {
 background-color: #eeeeee; 
}

.glyphicon {
  font-size: 25px;
}

.madlib {
  text-decoration: underline;
}

.madlib-label {
  margin-top: 0.5em;
  color: rgb(41, 41, 41);
}

.sidebar-section-title {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: grey;
}

.sidebar-section {
  background-color:#f7f7f8;
  margin: 0 15px;
  border-radius: 4px;
}

.sidebar .nav .sidebar-section {
  margin-top: 0;
}

.sidebar ul+li {
  margin-top: 20px;
  margin-bottom: 0;
}

.sidebar li.active > a {
  font-weight: bold;
}

.sidebar li li.active {
  background-color: #eeeeee;
}

.sidebar-module-heading {
  margin-top: 20px;
}

.mappers-layout .vertical-timeline-element-content p {
  font-size: 12px;
  color:rgb(41, 41, 41);
}

.mappers-layout {
  background-color: #efefef;
}