.bigContain {
  background-color: white;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  margin-top: 6%;
  align-items: center;
  margin-bottom: 4%;
  border-radius: 10px;
  box-shadow: 5px 5px 50px 10px grey;
  color: black;
}
.lineUp {
  display: inline-block;
  color: black;
}
.smallContain {
  background-color: #59C3F8;
  opacity: 0.8;
  color: black;
  border-radius: 10px;
}
.opacity {
  color: black;
  opacity: 1.0;
}