
.closeButton{
  background-color: rgb(68, 122, 178);
  color: black;
  border-color: black;
  align-content: center;
}
.previousButton{
  float: left;
  background-color: #29648A;
  color: black;
  border-color: black;
}
.nextButton{
  float: right;
 background-color: #29648A;
 color: black;
 border-color: black;
}
.bgButtons{
  background-color: #29648A;
}
.addAnswerButton{
  background-color: #464866;
  color:#AAABB8;
  border-color: #AAABB8;
}
.complete{
  margin-left: auto;
  margin-right: 175px;
  background-color: #2E9CCA;
  color: black;
  border-color: black;
}
