
.closeButton{
  background-color: rgb(68, 157, 235);
  color: black;
  border-color: black;
  align-content: center;
}
.previousButton{
  float: left;
  background-color: #25274D;
  color: white;
  border-color: black;
}
.nextButton{
  float: right;
 background-color: #25274D;
 color: white;
 border-color: black;
}
.bgButtons{
  background-color: #29648A;
}
.addAnswerButton{
  background-color: #AAABB8;
  color:black;
  border-color: black;
}
.complete{
  margin-left: auto;
  margin-right: 175px;
  background-color: #2E9CCA;
  color: black;
  border-color: black;
}
