.centering{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.sectionHeader{
  background-color: #29648A;
  font-family:Helvetica;
  font-weight: 900;
}
.sectionBody{
  background-color: #AAABB8;
  color:black;
}
.startButton{
  background-color: rgb(24, 102, 184);
  color: white;
  border-color: black;
}
.background {
  box-shadow: 10px 10px 70px 10px  rgb(213, 215, 213);
}
.contain{
  background-color: white;
  text-align:center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
  border-radius:10px;
}
.divider{
  border-color:rgb(213, 215, 213);
}