.centering{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.sectionHeader{
  background-color: #29648A;
}
.sectionBody{
  background-color: #AAABB8;
  color:black;
}
.startButton{
  background-color: #2E9CCA;
  color: black;
  border-color: black;
}