.centering{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.sectionHeader{
  background-color: #29648A;
  font-family:Helvetica;
  font-weight: 900;
}
.sectionBody{
  background-color: #AAABB8;
  color:black;
}
.startButton{
  background-color: rgb(24, 102, 184);
  color: white;
  border-color: black;
}
.background {
  box-shadow: 10px 10px 70px 10px  rgb(213, 215, 213);
  
}
.contain{
  background-color: white;
  text-align: justify;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 1%;
  padding-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 3%;
  margin-left: 3%;
  border-radius:20px;
  box-shadow:3px 3px 1px 3px rgb(46, 102, 178);
}
.divider{
  border-color:rgb(213, 215, 213);
}
.panelSpace{
  margin-top: 5%;
}